/docs
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.classe
*.tar.gz
/.repl
/.lein-*
/.nrepl-port
/node_modules
/dev-resources/public/js/*
/dev-resources/public/vendor
/dev-resources/public/css/*
/spec-resources/public/js/out
/spec-resources/public/js/meth_search_reloaded.specs.js
/resources/public/js
/resources/public/css/style.css
